<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blog Page</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        nav {
            background-color: #333;
            color: white;
            padding: 15px 0;
            width: 100%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        nav a:hover {
            color: rosybrown;
        }

        .delete {
            background-color: orangered;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
            transition: background-color 0.3s ease;
            font-weight: bold;
            margin-left: 480px;
            margin-bottom: -5px;
            width: 100px;
            height: 40px;
        }

        .edit {
            background-color: #4caf50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: -5px;
            transition: background-color 0.3s ease;
            width: 100px;
            height: 40px;
        }

        div.container {
            margin: 20px;
            padding: 30px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            width: 50%;
            text-align: center;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 20px;
            margin-top: -5px;
            color: #333;
        }

        div.blog {
            background-color: lavenderblush;
            margin-top: 20px;
            padding: 20px;
            border: 4px solid #333;
            border-radius: 8px;
            text-align: left;
        }

        div.blog-title {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 15px;
            color: #333;
        }

        div.blog-content {
            font-size: 1.2em;
            line-height: 1.6;
            color: #555;
        }

        p{
            color: saddlebrown;
        }
    </style>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/myblog">My Blogs</a></li>
        <li><a href="/blogs">All Blogs</a></li>
        {{#if user.isAdmin}}
            <li><a href="/notifications">Notifications</a></li>
        {{/if}}
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
<div class="container">
    <h1>My Blogs</h1>
    {{#each blogs as |blog| }}
        {{#if blog.approved}}
            <div class="blog" id="blog-{{blog._id}}">
                <p class="blog-title"><b>Title:</b> {{blog.title}}</p>
                <p class="blog-content"><b>Content:</b> {{blog.content}}</p>
                <button onclick="deleteBlog('{{blog._id}}')" class="delete">Delete</button>
                <button class="edit"><a href="/editBlog/{{blog._id}}" >Edit</a></button>
            </div>
        {{/if}}
    {{/each}}
</div>
<script>
    const deleteBlog = async (b) => {
        try {
            const response = await fetch(`/deleteBlog/${b}`, { method: 'POST' });
            if (response.ok) {
                console.log("Deleted");
                const deletedBlog = document.getElementById(`blog-${b}`);
                if (deletedBlog) {
                    deletedBlog.remove();
                }
            } else {
                console.error("Failed to Delete blog.");
            }
        } catch (error) {
            console.error("Error while Deleting blog" + error);
        }
    }
</script>
</body>
</html>